  <!--i can use power bi to visualize progress of task ,how many task are complete n all-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
    <style>
        h1{
            font-size: 40px;
            font-family:Roboto;
            font-weight: bolder ; 
            font-style: oblique ; 
            color: hotpink;
            text-align: center;

        }

        #img1 {
            width: 80%;
            height: 450px ;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

        #container {
            max-width: 800px;   
            margin: 0 auto 0 auto;
           

        }
    </style>

</head>
<body>
    <div id = "container">
        <h1>Welcome, {{name}}!</h1>
        <img id="img1" src = "{{url_for('static',filename='img1.jpg')}}" alt='image'>
        <br>
        <div style="text-align: center;">
            <button>Contact us</button>
        </div>
    </div>
</body>
</html> 
